<ion-header>
  <ion-toolbar color="success">
    <ion-title>
     Alimentação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
          <ion-label>10 Passos Para Alimentação Adequada e Saudável</ion-label>
        </ion-list-header>
        <ion-item>Fazer de alimentos in natura ou minimamente processados a base da alimentação.</ion-item>
        <ion-item>Utilizar óleos, gorduras, sal e açúcar em pequenas quantidades ao temperar e cozinhar alimentos e criar preparações culinárias.</ion-item>
        <ion-item>Limitar o consumo de alimentos processados.</ion-item>
        <ion-item>Evitar o consumo de alimentos ultraprocessados.</ion-item>
        <ion-item>Comer com regularidade e atenção em ambientes apropriados e, sempre que possível, com companhia.</ion-item>
        <ion-item>Fazer compras em locais que ofertem variedades de alimentos in natura ou minimamente processados</ion-item>
        <ion-item>Desenvolver, exercitar e partilhar habilidades culinárias.</ion-item>
        <ion-item>Planejar o uso do tempo para dar à alimentação o espaço que ela merece.</ion-item>
        <ion-item>Desenvolver, exercitar e partilhar habilidades culinárias.</ion-item>
        <ion-item>Dar preferência, quando fora de casa, a locais que servem refeições feitas na hora.</ion-item>
        <ion-item>Ser crítico quanto a informações, orientações e mensagens sobre alimentação veiculadas em propagandas comerciais.</ion-item>
      </ion-list>
</ion-content>
