<ion-header>
  <ion-toolbar>
    <ion-title>
      Resumo do Guia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>1º Capítulo</ion-card-subtitle>
        <ion-card-title>Princípios</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>A alimentação é muito mais do que apenas ingestão de nutrientes. Se alimentar faz parte da cultura de uma sociedade, e tem a ver com o modo de se alimentar e o prazer propiciado pela alimentação.</p>
        <p>O guia também leva em consideração a evolução da alimentação da sociedade com o passar do tempo, e a recomendação de uma alimentação ambientalmente sustentável. Além disso, o guia alimentar brasileiro baseia suas recomendações em conhecimentos com embasamento científico e permite que esse conhecimento passado para a população as auxilie a ter maior autonomia para fazer melhores escolhas alimentares.</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>2º Capítulo</ion-card-subtitle>
        <ion-card-title>A Escolha dos Alimentos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>"Faça dos alimentos in natura ou minimamente processados a base de sua alimentação"</p>
        <p>Alimentos in natura ou minimamente processados <br> </p>
        <p>Os alimentos in natura são aqueles que são retirados diretamente da natureza. São obtidos a partir de plantas ou animais, não passando por nenhum tipo de processamento. Exemplos: frutas, legumes, verduras, ovos etc. </p>
        <p>Já os minimamente processados são os alimentos que passam por pequenas modificações com o intuito de os tornar mais acessíveis e de modo que garantam a segurança alimentar. Exemplos: leite, arroz, legumes e verduras congelados, frutas secas etc.</p>
        <p>É importante priorizar a alimentação com base em alimentos de origem vegetal, uma vez que, no geral, possuem maior quantidade de fibras e nutrientes, além de menor quantidade de gordura e de calorias por grama, comparados com os alimentos de origem animal. A busca pelos alimentos orgânicos também é importante.</p>
        <p>
          Óleos, Gorduras, Sal e Açúcar <br>
          Recomenda-se a utilização de óleos, gorduras, sal e açúcar apenas em pequenas quantidades, somente na hora de temperar e cozinhar alimentos, e na criação de preparações culinárias.
        </p>
        <p>
          Alimentos Processados <br>
          Recomenda-se limitar a quantidade de alimentos processados consumida, já que esse processamento afeta de forma negativa a composição nutricional do alimento do qual deriva. Uma dieta baseada em alimentos processados pode contribuir para o surgimento de enfermidades, como as doenças do coração, obesidade e outras doenças crônicas. Exemplos: legumes conservados em salmoura, extrato de tomate, frutas em calda, sardinha enlatada etc.
        </p>
        <p>
          Alimentos Ultra processados <br>
          São alimentos extremamente desbalanceados nutricionalmente e que devem ser evitados. Eles são fontes de açúcares, sal e gorduras, pobres em fibras e tendem a limitar o consumo de alimentos in natura ou minimamente processados. Exemplos: biscoitos recheados, sorvetes, barras de cereal, macarrão instantâneo, refrigerantes, produtos congelados prontos etc.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>3º Capítulo</ion-card-subtitle>
        <ion-card-title>Dos Alimentos à Refeição</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>São fornecidas orientações específicas para a população brasileira nesse capítulo, sobre como combinar alimentos na forma de refeições. Descreve os principais grupos de alimentos que fazem parte da alimentação brasileira, e enfatiza a importância da inclusão dos alimentos in natura e minimamente processados na dieta.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
