<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>UFU-MG - Técnico em Nutrição Dietética (2019)</ion-card-subtitle>
          <ion-card-subtitle>
            <p>
              De acordo com o Guia Alimentar da População Brasileira (2014), o Ministério da Saúde traz diversas recomendações que levam em consideração os sistemas alimentares e os modos de produção de alimentos, gerenciando os princípios de uma alimentação adequada e saudável,
             configurando-se como instrumento de apoio às ações de educação alimentar e nutricional.
              Levando-se em consideração esse documento, assinale a alternativa correta.
            </p>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-radio-group>
                  <ion-item>
                    <ion-label>O Guia Alimentar baseia-se na avaliação dos nutrientes isolados por meio de estudos populacionais representativos que identificaram sua relação com o aparecimento de determinadas doenças.</ion-label>
                    <ion-radio slot="start" value="A" color="success"></ion-radio>
                  </ion-item>
              
                  <ion-item>
                    <ion-label>A alimentação é uma questão restrita à escolha individual, pois, a partir do conhecimento proporcionado pelo Guia Alimentar, a população teve acesso à informação adequada sobre alimentação saudável.</ion-label>
                    <ion-radio slot="start" value="B" color="success"></ion-radio>
                  </ion-item>
              
                  <ion-item>
                    <ion-label>O Guia Alimentar discorre sobre acesso, custo e propaganda dos alimentos ultra processados, sugerindo seu consumo uma vez que a fabricação pode reproduzir exatamente os ingredientes e os passos das preparações culinárias.</ion-label>
                    <ion-radio slot="start" value="C" color="success"></ion-radio>
                  </ion-item>
                  <ion-item>
                      <ion-label>O Guia Alimentar considera os nutrientes e os alimentos, seu nível de processamento, além das preparações culinárias, saberes e formas de produção tradicionais e regionais.</ion-label>
                      <ion-radio slot="start" value="D" color="success"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
          </ion-card-content>

          <ion-button expand="block" color="success">Confirmar</ion-button>
      </ion-card>
</ion-content>
